[Unit]
Description=Gunicorn instance to serve hello
After=network.target

[Service]
User=ubuntu
Group=www-data

WorkingDirectory=/home/ubuntu/encuentrame
Environment="PATH=/home/ubuntu/encuentrame/encuentrameenv/bin"
ExecStart=/home/ubuntu/encuentrame/encuentrameenv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
