#logo{
    height:34px;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

/*******************/
/* map */
#main_map {
    height: 600px;
}

/************************/
/* navbar */

.btn-user {
    background-color: #009874;
    border-color: #006948;
    color: #FFF;
}

.dropstart::before {
    color: #006948;
}

/***********************************************************************************************/
/*  posts                                                                                     */
/***********************************************************************************************/
/* .pet {
    width: 720px;
    align-items: center;
} */
.pet a img{
    width:100%;
}


/********************/
/* form validation */

#post_map {
    height: 400px;

}

#postLat, #postLng {
    display: none;
    visibility: hidden;
}

/*******************/
/* filter */

/********************/
/* general overflow */

.container {
    max-width: 100%;
    width: 100%;
}
/********************/
/* navbar */

.navbar-links {
    background-color: #009874;
}

.navbar-links a {
    color: #FFF;
}


/*******************/
/* feed */

.feed {
    background-color: #E1E2E1;
}
posts {
    padding-top: 2rem;
}

/******************/
/* footer */

.footer {
    background-color: #F5F5F6;
}

.SocialMedia ul li i{
    color: #006F98;
}

.u-flowText ul li i{
    font-size: 1.5rem;
}

