#logo{
    height:34px;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

/*******************/
/* map */
#main_map {
    height: 600px;
}


/* #legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 0px;
    margin: 10px;
    border: 3px solid #000;
    width:10px;
    height:10px;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
} */

/************************/
/* navbar */

.btn-user {
    transition: ease-in-out 0.2s;
    background-color: #009874;
    border-color: #006948;
    color: #FFF;
}

.btn-user:hover {
    transition: ease-in-out 0.2s;
    background-color: #006948;
    border-color: #FFF;
    color: #009874;;
}

.dropstart::before {
    color: #006948;
}

/* dropdown menu, dropdown loggin items */

.dropdown-menu {
    z-index: 1021;
}

/***********************************************************************************************/
/*  posts                                                                                     */
/***********************************************************************************************/
/* .pet {
    width: 720px;
    align-items: center;
} */
.card-img-top a img{
    max-width:100%;
}


/********************/
/* form validation */

#post_map {
    height: 400px;

}

#postLat, #postLng {
    display: none;
    visibility: hidden;
}

/*******************/
/* filter */

.enc-filter {
    background-color: #e1e2e1;
    padding: .5rem;
}

.enc-filter-btn {
    color: #fdfdfd;
}

.enc-filter-header {
    background-color: #51caaa !important;
    padding: .5rem;
}

.enc-filter-header:not(.collapsed)::after {
    color: #fdfdfd;
}

.enc-filter-header::after {
    color: #fdfdfd;
}

.filter {
    padding: .5rem;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: .375rem;
}

.selectAnimal {
    margin: 0;
    padding: .5rem;
    border: 1px solid rgba(0,187, 144, 0.5);
    border-radius: .375rem;
}


.enc-btn-submit-filter:focus {
    color: #fff;
    background-color: #51caa3;
    border-color: #009874;
    box-shadow: 0 0 0 0.25rem rgb(13, 153, 110, 0.5);
}

/********************/
/* general overflow */

.container {
    max-width: 100%;
    width: 100%;
}
/********************/
/* navbar */

.navbar-links {
    background-color: #009874;
}

.navbar-links a {
    color: #FFF;
}


/*******************/
/* feed */

.feed {
    background-color: #E1E2E1;
}
posts {
    padding-top: 2rem;
}

/******************/
/* footer */

.footer {
    background-color: #F5F5F6;
}
.SocialMedia ul li i{
    color: #006F98;
    padding: .5rem;
    transition: all .2s ease-in-out;
    margin: auto;
    padding: auto;
}

.SocialMedia ul li i:hover{
    color: #fefefe;
    background-color: #006F98;
    padding: .5rem;
    border: #006f98;
    border-radius: .375rem;
    transition: all .2s ease-in-out;
}

.SocialMedia ul li i:link{
    transition: all .2s ease-in-out;
    margin: auto;
    padding: auto;
}

.u-flowText ul li i{
    font-size: 1.5rem;
}

.border-map {
    border-radius: 0.3rem;
}

.enc-float-chevron {
    position:fixed;
    z-index: 1030;
    right: 2rem;
    bottom: 2rem;
}

.enc-front {
    z-index: 1200;
}
/*************************/
/* docs */

.bd-callout {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #ff6961;
}

/*************************/
/* form */
.form-check-input:checked {
    background-color: #009574;
    border-color: #009574;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 199, 144, 0.5);
}

/* submit button */

.enc-btn-submit {
    transition: ease-in-out 0.2s;
    color: #fff;
    background-color: #009574;
    border-color: #009574;
}

.enc-btn-submit:active {
    transition: ease-in-out 0.2s;
    color: #fff;
    background-color: #009574;
    border-color: #009574;
}

.enc-btn-submit:hover {
    transition: ease-in-out 0.2s;
    color: #fff;
    background-color: #006948;
    border-color: #006948;
}

.enc-btn-submit:focus {
    transition: ease-in-out 0.2s;
    color: #eee;
    background-color: #009574;
    border-color: #009574;
    box-shadow: 0 0 0 0.2rem rgba(77, 199, 144, 0.5);
}

/* link alert */

.enc-alert-link {
    color: #789dca;
}

/* politica */

.politica h1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #789dca;
}

.politica h2 {
    color: #789dca;
    font-size: 1.5rem;
}


/****************************/
/* about */

.about h1 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #789dca;
}

.about h2 {
    color: #789dca;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/************************/
/* brand */

.enc-brand-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #009574;
}

.enc-social-card-i{
    color: #006F98;
    font-size: 1.2rem;
    padding: .25rem;
    transition: all .2s ease-in-out;
    margin: auto;
    padding: auto;
}
.enc-social-card-i:hover{
    color: #009574;
    padding: .25rem;
    border-radius: .375rem;
    box-shadow: 1px 1px 0.25rem rgba(156, 156, 156, 0.5);
    transition: all .2s ease-in-out;
}
.enc-social-card-i:link{
    transition: all .2s ease-in-out;
    margin: auto;
    padding: auto;
}

.enc-profile-img {
    margin: 1rem;
    border-radius: .5rem;
    width: auto;
}

.enc-slide-img {
    width: 100%;
    height: auto;
}

.enc-featurette-gif {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.25rem rgba(156, 156, 156, 0.5);
}

/************************/
/* moderate */
.enc-moderate-list-g ul li {
    list-style: none;
    text-align: left;
    padding: .25rem 1rem;
}

.enc-textarea {
}
/************************/
/* brand buttons */

.enc-btn-sub-pink {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration:none;
    vertical-align: middle;
    cursor: pointer;
    background: #006f98;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: .5rem;
    color: #eaeaea;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.enc-btn-sub-pink:active {
    color: #fff;
    background-color: #00446a;
    border-color: #00446a;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.enc-btn-sub-pink:hover {
    color: #fff;
    background-color: #007dab;
    border-color: #007dab;
    box-shadow: 0 0 0 0.25rem rgb(79, 157, 201, .5);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.enc-btn-sub-pink:focus {
    color: #fff;
    background-color: #007dab;
    border-color: #007dab;
    box-shadow: 0 0 0 0.25rem rgba(79, 157, 201, .5);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}




/************************/
/* profile */

.enc-h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #789dca;
}

.enc-btn-happy {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration:none;
    vertical-align: middle;
    cursor: pointer;
    background: #006f98;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: .5rem;
    color: #eaeaea;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.enc-btn-danger {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration:none;
    vertical-align: middle;
    cursor: pointer;
    background: #006f98;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: .5rem;
    color: #eaeaea;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}