
{% extends "base.html" %}

{% block title %}
    <title>conocenos</title>
{% endblock %}

{% block body %}
<main class="about">

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Mision"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner"><!-- slides -->
      <div class="carousel-item active"><!-- img 1-->
        <img class="bd-placeholder-img"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ url_for('static', filename='img/landing/landing_hero_xl_01.jpg')}}" alt="Tareas de trello">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>encuentrame</h1>
            <p>Trabajando juntos, los animalitos perdidos pueden recuperar su hogar.
            </p>
          </div>
        </div>
      </div><!-- img 1-->
      <div class="carousel-item"><!-- img 2-->
        <img class="bd-placeholder-img"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ url_for('static', filename='img/landing/landing_hero_xl_02.jpg')}}" alt="Tareas de trello">

        <div class="container">
          <div class="carousel-caption">
            <h1>Holberton.</h1>
            <p>La vida en el campus</p>
            <p><a class="btn btn-lg btn-primary" href="#">actividades</a></p>
          </div>
        </div>
      </div><!-- img 2-->
      <div class="carousel-item"><!-- img 3-->
          <img class="bd-placeholder-img enc-slide-img"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ url_for('static', filename='img/landing/landing_hero_xl_03.jpg')}}" alt="Tareas de trello">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>publica ahora</h1>
            <p>unite a la comunidadad de <span class="enc-brand-name">encuentrame</span></p>
            <p><a class="btn btn-lg btn-primary" href="{{url_for('landing')}}">ir a la web</a></p>
          </div>
        </div>
      </div><!-- img 1-->
    </div><!-- slides -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"><!-- controls -->
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button><!-- controls -->
  </div>

  <div class="container-lg marketing">
    <div class="container">
      <h1>Nuestra historia</h1>
      <p class="landing-intro"> <span class="enc-brand-name">encuentrame</span> encuentrame tuvo sus primeros latidos en la madrugada justo después de navidad, cuando uno de los creadores estaba caminando rumbo a casa y se consiguió con una gatita claramente perdida, quizá se habia asustado con los fuegos artificiales, salió corriendo y terminó lejos de su hogar, perdida y asustada. Le tomó una foto y la subió a las redes sociales con la esperanza de que compartieran su publicación y el dueño la encontrara, pero no había mucho mas que pudiera hacer.</p>

      <p>Conversando sobre el tema, nos dimos cuenta que ese era un problema real, actual y además un problema para el que podíamos presentar una solucion, o al menos brindar ayuda combinando los conocimientos adquiridos estos ultimos 9 meses en <a class="enc-alert-link" href="https://holbertonschool.uy/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="conoce mas sobre Holberton School Uruguay" >Holberton School</a>, con la tecnología actual, la capacidad de difusion de las redes sociales y nuestro amor por los animales.</p>

      <p>es que dia tras dia aparecen mas historias y publicaciones sobre animales perdidos, los vemos incluso en fotos en las paradas de autobus o en los arboles, pero pocas veces sabemos cuanto tiempo ha pasado desde que se perdió o si ya fue encontrado. </p>

      <p>Decidimos tomar acción y nuestro deseo fue tomando forma día tras día, hasta llegar a lo que es hoy. Una plataforma destinada a ayudar a personas que buscan a sus mascotas perdidas facilitando la comunicación entre los usuarios de nuestra comunidad. Así como incentivando a publicar y compartir animalitos que encontramos perdidos en las calles a diario, para buscarles una familia y un hogar.</p>
    </div>

    <h2>Nosotros</h2>
    <div class="justify-content-evenly row row-cols-1 row-cols-md-3 g-4">
      <div class="col-sm-10 col-xl-3 gx-4"><!-- Andy -->
        <div class="card h-100">
          <img src="../static/content_img/andy1_1.jpg" class="card-img-top" alt="Andres Ortiz" data-bs-toggle="tooltip" data-bs-placement="top" title="Andres Ortiz">
          <div class="card-body">
            <h5 class="card-title">Andres Ortiz</h5>
            <p class="card-text">30 años, Ingeniero Químico y ahora Desarrollador de Software, inmigrante. Soy una persona acostrumbrada a los cambios y a los desafíos, en buqueda constante de superación, crecimiento personal y profesional.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a href="https://github.com/Aortiz91" target="_blank"><i class="fa-brands fa-github-square enc-social-card-i"></i></a>
              <a href="https://www.linkedin.com/in/aortiz91/" target="_blank"><i class="fa-brands fa-linkedin enc-social-card-i"></i></a>
              <a href="mailto:aortizm.09@gmail.com" ><i class="fa-solid fa-envelope enc-social-card-i"></i></a>
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-xl-3 gx-4"><!-- Ayrton -->
        <div class="card h-100">
          <img src="../static/content_img/ayrton1_1.jpg" class="card-img-top" alt="Ayrton Coelho" data-bs-toggle="tooltip" data-bs-placement="top" title="Ayrton Coelho">
          <div class="card-body">
            <h5 class="card-title">Ayrton Coelho</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa omnis, eum molestias quis sequi voluptatum laboriosam, quae ducimus iste delectus optio recusandae adipisci excepturi vel expedita, facere dolores earum labore!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a href="https://github.com/ayrton-hbtn" target="_blank"><i class="fa-brands fa-github-square enc-social-card-i"></i></a>
              <a href="https://www.linkedin.com/in/ayrton-coelho-b91824170/" target="_blank"><i class="fa-brands fa-linkedin enc-social-card-i"></i></a>
              <a href="mailto:ayrtoncoelhods@gmail.com"><i class="fa-solid fa-envelope enc-social-card-i"></i></a>
            </small>
          </div>
        </div>
      </div><!-- Ayrton -->
      <div class="col-sm-10 col-xl-3 gx-4"><!-- Ronald -->
        <div class="card h-100">
          <img src="../static/content_img/ronald1_1.jpg" class="card-img-top" alt="Ronald Rivero" data-bs-toggle="tooltip" data-bs-placement="top" title="Ronald Rivero">
          <div class="card-body">
            <h5 class="card-title">Ronald Rivero</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In amet modi odio iste eius beatae. Optio quaerat, consectetur cumque doloremque, natus nobis eligendi similique quas ducimus pariatur maxime porro sit?</p>
          </div>
          <div class="card-footer enc-social-card">
            <small class="text-muted">
              <a href="https://github.com/ralexrivero" target="_blank"><i class="fa-brands fa-github-square enc-social-card-i"></i></a>
              <a href="https://www.linkedin.com/in/ronald-rivero/" target="_blank"><i class="fa-brands fa-linkedin enc-social-card-i"></i></a>
              <a href="mailto:ralexrivero@gmail.com"><i class="fa-solid fa-envelope enc-social-card-i"></i></a>
            </small>
          </div>
        </div>
      </div><!-- Ronald -->
    </div>


    <!-- features -->

    <hr class="featurette-divider">

    <div class="container-lg">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Perdidos <span class="text-muted">- Encontrados</span></h2>
        <p class="lead">No solo puedes publicar tu mascota si se pierde. También puedes compartir con nosotros cualquier animalito que encuentres en la calle.</p> <p>Ayudemos a todos los animales!
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto enc-featurette-gif" src="../static/content_img/perdidosencontrados.gif" data-bs-toggle="tooltip" data-bs-placement="top" title="publica un animalito perdido o encontrado">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ubicación<span class="text-muted"></span></h2>
        <p class="lead"> Encuentra animalitos publicados en tu zona, mantente alerta por si los ves!.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto enc-featurette-gif" src="../static/content_img/ubicacion.gif" data-bs-toggle="tooltip" data-bs-placement="top" title="buscá en el mapa">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Comparte <span class="text-muted">en las redes.</span></h2>
        <p class="lead">Ayúdanos a difundir en las redes! Ingresa a una publicación dando click en la foto y comparte en Facebook y Twitter.</p>

      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto enc-featurette-gif" src="../static/content_img/compartir.gif" data-bs-toggle="tooltip" data-bs-placement="top" title="difundílo!">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Un perfil,<span class="text-muted">todas tus publicaciones.</span></h2>
        <p class="lead">Ingresa a tu perfil, desde donde puedes moderar todas tus publicaciones.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto enc-featurette-gif" src="../static/content_img/perfil.gif" data-bs-toggle="tooltip" data-bs-placement="top" title="administra tus pubilcaciones">
      </div>
    </div>
  </div><!-- container-lg -->
  </div><!-- /.container -->

{% endblock %}