<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="" type="text/javascript"></script>
    <style media ="screen">
        #fb-btn{
            margin-right:0%;
            margin-top:0%;
        }
        #profile, #logout{
                display:none;
                margin-top:10%;
        }
    </style>
    {% block head %}{% endblock %}
    </head>
<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1633098193720369',
                cookie     : true,
                xfbml      : true,
                version    : 'v13.0',
            });

            FB.AppEvents.logPageView();

        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {
            if(response.status === 'connected') {
                setElements(true);
                console.log('Logged in and anthenticated');
                sendCredentials();
            } else {
                console.log('Not authenticated');
                setElements(false);
            }
        }
        function setElements(isLoggedIn) {
            if(isLoggedIn) {
                document.getElementById('fb-btn').style.display = 'none';
                document.getElementById('logout').style.display = 'block';
                document.getElementById('profile').style.display = 'block';
            } else {
                document.getElementById('fb-btn').style.display = 'block';
                document.getElementById('logout').style.display = 'none';
                document.getElementById('profile').style.display = 'block';
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        function sendCredentials() {
            FB.api('/me?fields=name,email,id', function(response) {
                if(response && !response.error) {
                    fetch('https://encuentrame.org.xelar.tech/api/users/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(response)
                    })
                    .then(response => response.json())
                    .then(json => console.log(json))
                    .catch(err => console.log(err));
                }
            });
        }
        // function buildProfile(user) {
        //     let useremail = user.email
        //     let userid = user.id
        //     let username = user.name
        //     let profile = `
        //         <h3>${user.name}</h3>
        //         <ul class="list-group">
        //             <li class "list-group-item">User ID: ${user.id}</li>
        //             <li class "list-group-item">Email: ${user.email}</li>
        //             <li class "list-group-item">Link: ${user.link}</li>
        //     `;
        //     document.getElementById("profile").innerHTML = profile;
        // }
        function logout() {
            FB.logout(function(response) {
                setElements(false);
            });
        }
    </script>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo/EncuentraMe(1000x1000).png') }}" alt="">
        </a>
        <ul class="navbar navbar-right">
            <a id="logout" href="#" onclick="logout()">Logout</a>
            <fb:login-button
                id="fb-btn"
                scope="email"
                onlogin="checkLoginState();">
            </fb:login-button>
        </ul>
    </nav>
    <div class="container">
        <h3 id="heading">
            
        </h3>
        <div id="profile"></div>
    </div>
    {% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
