<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <style media ="screen">
        #fb-btn {
            margin-right: 0%;
            margin-top: 0%;
        }
        #btn-logout {
                display: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <script>
        $(document).ready(function () {
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1633098193720369',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v13.0',
                });

                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                    validateFormAccess(response);
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            } (document, 'script', 'facebook-jssdk'));

            function statusChangeCallback(response) {
                if(response.status === 'connected') {
                    console.log('Logged in and anthenticated');
                    setElements(true);
                    sendCredentials();
                } else {
                    console.log('Not authenticated');
                    setElements(false);
                }
            }

            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }

            function validateFormAccess(response) {
                siteUrl = window.location.href;
                if (siteUrl.includes("lost_pet") || siteUrl.includes("found_pet")) {
                    if (response.status === 'connected') {
                        var uid = response.authResponse.userID;
                        var urlUid = siteUrl.split("/")[3];
                        if (uid !== urlUid) {
                            window.location.href = "https://encuentrame.org.xelar.tech";
                        }
                    } else {
                        window.location.href = "https://encuentrame.org.xelar.tech";
                    }
                }
            }

            function sendCredentials() {
                FB.api('/me?fields=name,email,id', function(credentials) {
                    if(credentials && !credentials.error) {
                        fetch('https://encuentrame.org.xelar.tech/api/users/', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(credentials)
                        })
                        .catch(err => console.log(err));
                    }
                });
            }

            window.goToProfile = function() {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        var uid = response.authResponse.userID;
                        window.location.href = "https://encuentrame.org.xelar.tech/profile/" + uid;
                    } else {
                        alert("Debes iniciar sesión para ir a tu perfil");
                        return false;
                    }
                });
            }

            function setElements(isLoggedIn) {
                if (isLoggedIn) {
                    $('#fb-btn').hide();
                    $('#btn-logout').show();
                    $('#btn-profile').show();
                } else {
                    $('#fb-btn').show();
                    $('#btn-logout').hide();
                    $('#btn-profile').hide();
                }
            }

            window.logout = function () {
                FB.logout(function () {
                    window.location.href = "https://encuentrame.org.xelar.tech/";
                });
            };

            window.postButton = document.querySelector("#post");
            if (postButton) {
                postButton.addEventListener("click", function() {
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            var uid = response.authResponse.userID;
                            window.location.href = "https://encuentrame.org.xelar.tech/" + uid + "/lost_pet";
                        } else {
                            alert("Debes ingresar con Facebook para hacer una publicación");
                            return false;
                        }
                    });
                });
            };
        });
    </script>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo/EncuentraMe(1000x1000).png') }}" alt="">
        </a>
        <ul class="navbar navbar-right">
            <button class="btn btn-danger btn-small" id="btn-logout" onclick="logout()">Logout</button>
            <button class="btn btn-primary" id="btn-profile" onclick="goToProfile()">Perfil</button>
            <fb:login-button
                id="fb-btn"
                scope="email"
                onlogin="checkLoginState();">
            </fb:login-button>
        </ul>
    </nav>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>