<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "type": "opt-out",
  "content": {
    "message": "Usamos cookies para que tengas la mejor experiencia",
    "dismiss": "Ok",
    "deny": "Cancelar",
    "link": "Política de cookies",
    "href": "articulos-legal-politica-de-cookies.html"
  }
});
</script>


<a href="#" id="open_preferences_center">Change your cookie preferences</a>
https://encuentrame.org.xelar.tech/politica_de_privacidad.html

<!-- Cookie Consent by TermsFeed (https://www.TermsFeed.com) -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"light","language":"es","page_load_consent_levels":["strictly-necessary","functionality","tracking","targeting"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"encuentrame.org","website_privacy_policy_url":"https://encuentrame.org.xelar.tech/politica_de_privacidad.html","open_preferences_center_selector":"#open_preference_center"});
});
</script>

<noscript>ePrivacy and GPDR Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow">TermsFeed Generator</a></noscript>
<!-- End Cookie Consent by TermsFeed (https://www.TermsFeed.com) -->

