{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
<title>Mascota Perdida</title>
{% endblock %}

{% block body %}
<form action="/lost_pet" method="post" class="form_center" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" name="titulo">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control rounded-0" name="descripcion" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="contacto">Contacto</label>
            <input type="text" name="contacto" placeholder="Teléfono o email">
        </div>
        <div class="form-group">
            <label for="image"></label>
            <input type="file" name="image">
        </div>
        <div id="map"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABTjqDKNHu0j8LPdcj5SRSNABL9JmdgOw&callback=initMap&libraries=&v=weekly"
async
></script>
{% endblock %}
