{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<title>Mascota Perdida</title>
{% endblock %}

{% block body %}
<p>Atención: Este formulario es para quienes encontraron un animalito en la calle y desean compartirlo.
    Si perdiste a tu mascota y quieres publicarlo has click <a href="/lost_pet">aquí.</a>
</p>
<br>
<form action="/found_pet" method="post" class="form_center" id="main_form" enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <fieldset>
        <p>¿Qué encontraste?</p>
        <div class="form-group">
            <input type="radio" name="mascota" value="perro" id="perro" checked>
            <label for="perro">Perro</label>
            <input type="radio" name="mascota" value="gato" id="gato">
            <label for="gato">Gato</label>
        </div>
        <div class="form-group">
            <p>Se encontró el día 
            <input type="date" name="fecha" placeholder="dd-mm-yyyy" required>
            por barrio
            <input type="text" name="barrio" placeholder="Barrio" required>
            en las inmediaciones de 
            <input type="text" name="calle_1" placeholder="Calle 1" required>
            y 
            <input type="text" name="calle_2" placeholder="Calle 2" required>
            a las 
            <input type="time" name="hora" required>
            horas.
            Si es tuyo o sabes de quien puede ser por favor comunícate con Usuario.</p>
            <br>
            <label for="image">Sube una imagen:</label>
            <input type="file" name="foto" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
{% endblock %}