{% extends "base.html" %}

{% block head %}
<title>encuentrame</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="feed">
    <div class="filters">
        <div class="filter">
            <button type="button" class="btn btn-success btn-sm" id="all" onclick="refreshFeed()">Todos</button>
            <button type="button" class="btn btn-outline-success btn-sm" id="lost" onclick="refreshLost()">Perdidos</button>
            <button type="button" class="btn btn-outline-success btn-sm" id="found" onclick="refreshFound()">Encontrados</button>
        </div>
        <div class="selectAnimal">
            <input type="radio" name="animal-selection" id="todos" value="Todos" checked>Todos</input>
            <input type="radio" name="animal-selection" id="perritos" value="Perritos">Perritos</input>
            <input type="radio" name="animal-selection" id="gatitos" value="Gatitos">Gatitos</input>
            <p id="show"> </p>
        </div>
        <div class="post">
            <button class="btn btn-primary" id="post">Publicar</button>
        </div>
    </div>
<!--     <article class="posts">
    </article> -->
</div>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/populate.js') }}"></script>
{% endblock %}