<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <a class="aboutLogo" href="/">
      <img src="{{ url_for('static', filename='logo/logo_green.svg') }}" alt="">
    </a>
<title>encuentraMe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="about-sections">
    <p class="about-section">En encuentraMe deseamos conectar con personas que han perdido a sus mascotas y brindar un medio de difusión y seguimiento para facilitar el reencuentro.<br>A corto plazo esperamos ser la comunidad más grande del país en reencuentro de mascotas perdidas, animales encontrados y organizaciones sin fines de lucro orientadas al bienestar de los animales domésticos.</p>
  </div>

<h2 style="text-align:center">Nuestro equipo</h2>
  <div class="aboutScroll">
    <div class="aboutCard">
      <img src="{{ url_for('static', filename='content_img/andy.jpg') }}" alt="Andy" style="width:50%">
      <div class="aboutData">
        <h2>Andres Ortiz</h2>
        <p class="aboutTitle">CEO & Founder</p>
        <p class="aboutText">Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>aortizm.09@gmail.com</p>
        <a href="https://github.com/Aortiz91"><i class="fa fa-github" class="aboutSocial" style="font-size:36px;color:black"></i></a>
        <a href="https://www.linkedin.com/in/aortiz91/"><i class="fa fa-linkedin-square" style="font-size:36px;color:black"></i></a>
        <p><a href="mailto:aortizm.09@gmail.com"><button class="button">Contact</button></a></p>
        
      </div>
    </div>
    <div class="aboutCard">
      <img src="{{ url_for('static', filename='content_img/ayrton.jpg') }}" alt="Ayrton" style="width:50%">
      <div class="aboutData">
        <h2>Ayrton Coelho</h2>
        <p class="aboutTitle">CEO & Founder</p>
        <p class="aboutText">Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>ayrtoncoelhods@gmail.com</p>
        <a href="https://github.com/ayrton-hbtn"><i class="fa fa-github" class="aboutSocial" style="font-size:36px;color:black"></i></a>
        <a href="https://www.linkedin.com/in/ayrton-coelho-b91824170/"><i class="fa fa-linkedin-square" style="font-size:36px;color:black"></i></a>
        <p> <a href="mailto:ayrtoncoelhods@gmail.com"><button class="button">Contact</button></a></p>
        
      </div>
    </div>
    <div class="aboutCard">
      <img src="{{ url_for('static', filename='content_img/ronald.jpg') }}" alt="Ronald" style="width:50%">
      <div class="aboutData">
        <h2>Ronald Rivero</h2>
        <p class="aboutTitle">CEO & Founder</p>
        <p class="aboutText">Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>Lorde hipster...Lorde hipster...Lorde hipster...Lorde hipster...<br>ralexrivero@gmail.com</p>
        <a href="https://github.com/ralexrivero"><i class="fa fa-github" class="aboutSocial" style="font-size:36px;color:black"></i></a>
        <a href="https://www.linkedin.com/in/ronald-rivero/"><i class="fa fa-linkedin-square" style="font-size:36px;color:black"></i></a>
        <p><a href="mailto:ralexrivero@gmail.com"><button class="button">Contact</button></a></p>
        
      </div>
    </div>
  </div>
</body>
</html>