{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/main_map.js') }}"></script>
<style>
    .publicaciones {
        background-color: red;
    }
    .mapa {
        background-color: blue;
        border: 1px solid black;
        border-radius: 4px;
    }
    .landing-intro {
        background-color: green;
        font-size: medium;
    }
    .animal {
        background-color: grey;
        border: 1px solid black;
        border-radius: 4px;
    }

.individual {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 4px;
}

.mapa-imagen {
    width: 100%;
}
</style>
{% endblock %}

{% block body %}
<div class="container-md justify-content-center overflow-hidden">
    <div class="row ">
        <div class="animal col-md-8">
            <div class="row justify-content-around g-2">
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3"><!-- ! -->
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <h1>Foto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt molestiae, dolore aut nemo quod dolorem rem quia ex iste accusantium hic natus assumenda enim tenetur qui laborum porro! Commodi.</p>
                </div>
            </div>
        </div>
        <div class="mapa col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ratione rem, quis modi tempore cupiditate sit fuga corporis, earum eos aliquam ipsam quaerat dolorum consequatur suscipit, et magni architecto reiciendis.</p>
        </div>
    </div>
</div>
{% endblock %}