{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/main_map.js') }}"></script>
<style>
    .publicaciones {
        background-color: red;
    }
    .mapa {
        background-color: blue;
        border: 1px solid black;
        border-radius: 4px;
    }
    .landing-intro {
        background-color: green;
        font-size: medium;
    }
    .animal {
        background-color: grey;
        border: 1px solid black;
        border-radius: 4px;
    }

.individual {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 4px;
}

.mapa-imagen {
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
}
</style>
{% endblock %}

{% block body %}
<div class="container-md justify-content-center overflow-hidden">
    <div class="row ">
        <div class="animal col-md-8">
            <div class="row justify-content-around g-2">
                <div class="posts individual col-sm-10 col-md-6 col-xxl-4 p-3"><!-- ! -->
                    <div class="card pet pet_lost"><!-- 1 -->
                        <div class="user card-img-top"><!-- 2 -->
                        <a href="#"><!-- 3 -->
                        <img src="https://picsum.photos/200/300" alt=""></a><!-- 4 -->
                    </div>
                        <div class="card-body"><!-- 5 -->
                            <h5 class="card-title">Card title</h5><!-- 6 -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><!-- 7 -->
                            <a href="#" class="btn btn-primary">Go somewhere</a><!-- 8 -->
                        </div>
                    </div>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <div class="card">
                        <a href="#">
                            <img src="https://picsum.photos/200/300" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <div class="card">
                        <a href="#">
                            <img src="https://picsum.photos/200/300" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <div class="card">
                        <a href="#">
                            <img src="https://picsum.photos/200/300" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <div class="card">
                        <a href="#">
                            <img src="https://picsum.photos/200/300" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="individual col-sm-10 col-md-6 col-xxl-4 p-3">
                    <div class="card">
                        <a href="#">
                            <img src="https://picsum.photos/200/300" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mapa col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ratione rem, quis modi tempore cupiditate sit fuga corporis, earum eos aliquam ipsam quaerat dolorum consequatur suscipit, et magni architecto reiciendis.</p>
        </div>
    </div>
</div>
{% endblock %}