{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/main_map.js') }}"></script>
<style>
    .publicaciones {
        background-color: red;
    }
    .mapa {
        background-color: blue;
    }
    .landing-intro {
        background-color: green;
        font-size: medium;
    }
    .animal {
        background-color: grey;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <p class="lead landing-intro">En encuentrame, nuestro plan es ayudar a las personas en la búsqueda de sus mascotas perdidas, facilitando la comunicación entre los usuarios de nuestra comunidad. Así como incentivando a publicar y compartir animalitos que encontramos perdidos en las calles a diario, para buscarles una familia y un hogar. Mejoremos la calidad de vida de nuestros animalitos.</p>
</div>
<div class="container overflow-hidden">
    <div class="row gx-4">
        <div class="col-md-8 publicaciones">
            <div class="animal">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, earum dolores tenetur recusandae dolor id aliquid accusantium harum, ut corrupti ea omnis natus hic distinctio, similique a? Sequi, saepe fugit?</p>
            </div>
            <div class="animal">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, earum dolores tenetur recusandae dolor id aliquid accusantium harum, ut corrupti ea omnis natus hic distinctio, similique a? Sequi, saepe fugit?</p>
            </div>
            <div class="animal">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, earum dolores tenetur recusandae dolor id aliquid accusantium harum, ut corrupti ea omnis natus hic distinctio, similique a? Sequi, saepe fugit?</p>
            </div>
        </div>
        <div class="col-md-4 mapa">
            <p>mapa</p>
        </div>
    </div>
</div>
{% endblock %}