{% extends "base.html" %}

{% block body %}
<main>
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-10 politica">
        <h1>Politica de Privacidad</h1>
        <p>Las condiciones de uso son aplicables a todas las ventas de productos y/o servicios a ser realizadas o prestadas por el sitio por medio del sitio.El uso del sitio por parte del usuario supone la aceptación expresa del mismo a las presentes condiciones y se compromete a /pindar información precisa y veraz. Al aceptar estas condiciones, registrándose como Usuario o ingresando como “invitado”, usted declara bajo juramento y certifica tener 18 años de edad o más. Si usted no está de acuerdo (o no puede cumplir) con cualquiera de las reglas de las Condiciones de Uso, no utilice el sitio.</p>

        <h2>Limitación de responsabilidad</h2>
        <p>El sitio advierte de que los materiales contenidos en esta página Web han sido incluidos a mero título informativo, por lo que resultan insuficientes para tomar decisiones o asumir posiciones en un caso concreto. No constituyen asesoramiento o servicio profesional por parte de el sitio so/pe ningún asunto en particular. El sitio no asume ninguna responsabilidad por los daños y perjuicios resultantes o que tengan conexión con el empleo de dicha información.</p>

        <h2>Formas y medios de pago</h2>
        <p>En sitio no exige pagos por el uso de los servicios.</p>

        <h2>Prestación de los servicios</h2>
        <p>La prestación de los servicios es realizada de forma altruista y sin fines de lucro. El registro, publicacion en el sitio y publicacion en el sitio web son totalmente gratuitos.</p>

        <h2> Ley de protección de datos</h2>
        <p>Al utilizar los servicios del sitio o registrarse como usuario del sitio, suministrará información que el sitio necesita para /pindar el servicio adecuado. Los datos recabados por el sitio tienen el fin de cumplir con su giro comercial, realizar acciones de marketing, publicidad, promociones y serán tratados confidencialmente. Si el usuario decide proporcionar sus datos, consciente expresamente que los mismos serán utilizados con fines operativos del sistema de comercio electrónico en el sitio por parte de el sitio o cualquiera de los sitios o redes sociales de el sitio, incluyendo hacerle llegar por distintos medios ofertas de productos o servicios, anuncios, promociones, publicidad en el marco y de acuerdo con la Ley 18331 de Protección de datos personales.</p>

        <p>El sitio tiene una política de privacidad y una política de cookies. El usuario se notifica y autoriza a el sitio a analizar la información relacionada con sus usuarios como grupo, y en base a los análisis /pindar de forma individual o colectiva, en conjunto con terceros, productos o servicios a los usuarios. El sitio está autorizada a compartir dicha información con terceros, si por motivo de mejorar los servicios realiza acciones en conjunto con otras empresas.</p>

        <p>Todos los usuarios o clientes tienen derecho a acceder a sus datos personales, rectificación o actualización de los mismos.</p>

        <p>Todos los usuarios o clientes tienen derecho a solicitar la eliminación de sus datos personales de la base de datos de empresa.</p>

        <p>De ser necesaria alguna de las medidas anteriores el usuario debe comunicarse vía formulario o cualquier otro medio disponibles en la página web.</p>

        <p>Al registrarse el usuario declara que toda la información que ha /pindado para el registro es cierta y completa y ha sido /pindada de manera voluntaria, li/pe e inequívoca, habiendo sido previamente informado del objetivo de su registro de acuerdo con la Ley 18.331.</p>

        <h2>Propiedad intelectual e industrial</h2>
        <p>La totalidad del sitio texto, imágenes, marcas, gráficos, logotipos, botones, archivos de software, combinaciones de colores, así como la estructura, selección, ordenación y presentación de sus contenidos, se encuentra protegida por las leyes so/pe Propiedad Intelectual e Industrial, quedando prohibida su reproducción, distribución, comunicación pública y transformación, salvo para uso personal y privado.</p>

        <p>El sitio no garantiza que los contenidos sean precisos o li/pes de error o que el li/pe uso de los mismos por el usuario no infrinja los derechos de terceras partes. El buen o mal uso de esta página y de sus contenidos está bajo la responsabilidad del usuario.</p>

        <p>Asimismo, queda prohibida la reproducción, retransmisión, copia, cesión o redifusión, total o parcial, de la información contenida en el sitio, cualquiera que fuera su finalidad y el medio utilizado para ello, sin autorización expresa y previa por parte de el sitio.</p>
      </div>
    </div><!-- row -->
  </div><!-- /.container -->
</main>
{% endblock %}