<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>EncuentraMe</title>
    <meta property="og:url"           content="https://encuentrame.org.xelar.tech/{{ post['id'] }}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="EncuentraMe" />
    <meta property="og:description"   content="¡Ayúdame a encontrar a mi humano! Ingresa al link para más información" />
    <meta property="og:image"         content="https://encuentrame.org.xelar.tech/{{ post['foto'] }}" />
</head>
<body>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo/EncuentraMe(1000x1000).png') }}" alt="">
        </a>
    </nav>
    <article>
        {% if 'lost' in post['id'] %}
            <div class="pet lost_pet">
                <p>¡Se busca a <b>{{ post['nombre'] }}</b>! Perdido/a desde el día {{ post['fecha'] }}
                    última vez visto en las inmediaciones de {{ post['calle_1'] }} y
                    {{ post['calle_2'] }} barrio {{ post['barrio'] }} a las {{ post['hora'] }}
                    horas.
                    Si lo viste por favor comunícate con {{ user["name"] }}.
                </p>
                <img src="{{ post['foto'] }}" alt="">
            </div>
        {% else %}
            <div class="pet found_pet">
                <p>
                    Se encontró el día {{ post['fecha'] }} por barrio {{ post['barrio'] }} en las inmediaciones
                    de {{ post['calle_1'] }} y {{ post['calle_2'] }} a las {{ post['hora'] }} horas.
                    Si es tuyo o sabes de quien puede ser por favor comunícate con {{ user["name"] }}.
                </p>
                <img src="{{ post['foto'] }}" alt="">
            </div>
        {% endif %}
    </article>
    <div class="share">
        <div class="fb-share-button" 
        data-href="https://encuentrame.org.xelar.tech/{{ post['id'] }}" 
        data-layout="button_count"
        data-size="large">
        </div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-text="¡Ayúdame a encontrar a mi humano! Ingresa al link para más información #EncuentraMe"
        data-size="large">Tweet</a>
    </div>
</body>
</html>
