html, body {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.form_center {
    width: 40%;
    margin: 40px auto;
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}