html, body {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

#main_form {
    line-height: 1.8;
}

input {
    border: none;
    border-color: transparent;
    text-align: center;
}

.feed {
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: auto;
}

.filters {
    display: flex;
    margin-top: 20px;
    height: 4em;
    margin: 5px auto;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.filter {
    display: block;
    margin-right: auto;
    margin-left: 5px;
    font-size: 0;
}

.post {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

article {
    margin: auto;
}

.pet {
    width: 80%;
    margin: 2em auto;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.pet img {
    max-width: 100%;
    height: auto;
}

nav a.navbar-brand {
    padding: 0;
}

nav a.navbar-brand img {
    height: 50px;
    width: auto;
}

.form_center {
    width: 40%;
    margin: 40px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}